{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {% if object %}
        Editar {{ object.get_full_name|default:object.username }}
    {% else %}
        Novo Usuário
    {% endif %}
    - {{ block.super }}
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h4 class="mb-0">
                    <i class="fas fa-user-edit"></i>
                    {% if object %}
                        Editar Usuário
                    {% else %}
                        Novo Usuário
                    {% endif %}
                </h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    
                    <div class="d-flex justify-content-between">
                        <a href="{% url 'accounts:user_list' %}" class="btn btn-secondary">
                            <i class="fas fa-times"></i> Cancelar
                        </a>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save"></i>
                            {% if object %}
                                Atualizar
                            {% else %}
                                Criar
                            {% endif %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}