{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Senha Alterada{% endblock %}

{% block content %}
    <div class="password-change-done">
        <div class="done-icon">
            <i class="fas fa-lock"></i>
        </div>
        <h2>Senha Alterada!</h2>
        <p class="change-message">Sua senha foi alterada com sucesso.</p>
        
        <div class="change-actions">
            <a href="{% url 'accounts:profile' %}" class="btn">Voltar para o Perfil</a>
        </div>
    </div>
{% endblock %}
