{% extends "config/base_config.html" %}
{% load crispy_forms_tags %}

{% block config_title %}Editar Provedor Social{% endblock %}
{% block config_description %}Configure as opções do provedor de autenticação social{% endblock %}

{% block config_breadcrumb %}
<li class="breadcrumb-item active">Provedor Social</li>
{% endblock %}

{% block config_content %}
<div class="card">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="mt-3">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-save"></i> Salvar Alterações
                </button>
                <a href="{% url 'config:config' %}" class="btn btn-secondary">
                    <i class="fas fa-times"></i> Cancelar
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}