body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
  color: #333;
}

footer {
  font-size: 1rem;
  background-color: #2d2d2d;
  color: white;
}